@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer/Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}

sselect option {
  color: #000 !important;
}

/* Fix text color for shadcn / custom React dropdown items */
[data-slot="option"],
[data-slot="item"],
[role="option"],
[role="listbox"] *,
select,
select option {
  color: black !important;
  background: white !important;
}

